@import url(https://db.onlinewebfonts.com/c/15a7d1d71610b5082933b2955bb8bc2e?family=Ihana+Perkele+Alaston);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 10px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #dcccde;
    background-image: url("../images/bg.png");
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

nav {
    background-color: #403042;
    height: 9.5rem;
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links a {
    font-family: "Ihana Perkele Alaston", sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

#cta-btn {
    background-color: #403042;
    color: white;
    font-family: "Akrobat", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cta-btn:hover {
    background-color: #dcccde;
    color: #403042;
    border: #403042 solid 1px;
}

.main-title {
    font-family: "Ihana Perkele Alaston", sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #dcccde;
}

.splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    background-color: #403042;
    animation: fadeinout 3s linear forwards;
}

#startButton {
    background-color: #403042;
    color: white;
    font-family: "Akrobat", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #dcccde solid 1px;
    transition: all 0.1s ease-in;
}

#startButton img {
    width: 2rem;
    height: auto;
    margin-right: 1rem;
    padding: 4px;
    border-radius: 2px;
    background-color: #dcccde;
}

#startButton:hover {
    background-color: #dcccde;
    color: #403042;
}

#pdfgen {
    background-color: #403042;
    color: white;
    font-family: "Akrobat", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #dcccde solid 1px;
    transition: all 0.1s ease-in;
}

#pdfgen img {
    width: 2rem;
    height: auto;
    margin-right: 1rem;
    padding: 4px;
    border-radius: 2px;
    background-color: #dcccde;
}

#pdfgen:hover {
    background-color: #ffffff;
    color: #403042;
}

#speak-button {
    background-color: #403042;
    color: white;
    font-family: "Akrobat", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #dcccde solid 1px;
    transition: all 0.1s ease-in;
}

#speak-button:hover {
    background-color: #dcccde;
    color: #403042;
}

#speak-button img {
    width: 2.5rem;
    height: auto;
    padding: 4px;
    margin-right: 0.5rem;
    border-radius: 2px;
    background-color: #403042;
}

@keyframes fadeinout {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.disabled {
    background-color: #000;
    pointer-events: none;
}

.form {
    color: white;
    border-radius: 7px;
    width: 70%;
    margin: 15rem;
    padding: 30px 100px;
    background-color: #403042;
}

.save-grp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form h1 {
    font-size: 50px;
    text-align: center;
    color: #dcccde;
}

.form h2 {
    font-size: 30px;
    text-align: center;
    color: #dcccde;
}

.container {
    text-align: left;
}

.form label {
    font-size: 30px;
}

.form input,
textarea {
    width: 100%;
    height: 30px;
    background-color: #dcccde;
}

.cs_logo {
    width: auto;
    height: 8.5rem;
    margin-left: 4rem;
}

.mr_logo {
    width: auto;
    height: 8rem;
    margin-right: 4rem;
}

/* ---------Chat Window----------- */

#chat {
    width: 100%;
}

.chat-window {
    width: 80%;
    margin: 160px auto;
    background-color: #403042;
    border: #dcccde solid 3px;
    padding: 20px;
    border-radius: 22px;
    margin: 150px auto 50px auto;
}

#chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcccde;
    height: calc(80vh - 200px);
    max-height: calc(100vh - 200px);
    overflow: auto;
}

#chat-form {
    display: flex;
    align-items: center;
}

#chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #dcccde;
    background-color: #dcccde;
}

.send[type="submit"] {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #dcccde;
    color: #000;
    border: none;
    font-size: 2rem;
    font-weight: bold;
}

.send:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

.bot-message {
    color: white;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    background-color: black;
    border: #dcccde solid 1px;
    text-align: justify;
    /* keep it right-aligned */
    padding: 15px;
    /* added padding */
    margin-top: 10px;
    /* added margin-top to create a gap */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-style: italic;
}

.user-message {
    color: white;
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
    background-color: black;
    border: #dcccde solid 1px;
    text-align: left;
    /* changed text align to left */
    padding: 15px;
    /* added padding */
    display: flex;
    align-items: center;
    font-style: italic;
}

.user-message img,
.bot-message img {
    width: 40px;
    /* adjust the width of the icon */
    height: 40px;
    /* adjust the height of the icon */
    margin-right: 20px;
    /* add some margin to separate the icon from the message */
    background-color: white;
}


/* ---------reference----------- */
#reference {
    width: 80%;
    margin: 10rem auto;
    padding: 0 100px;
    background-color: #403042;
    border: #dcccde solid 3px;
    border-radius: 22px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card {
    background-color: #dcccde;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    transition: all 0.2s ease-in;
}

.card p {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
}

.card button {
    background-color: #403042;
    color: white;
    font-family: "Akrobat", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

.card button:hover {
    background-color: #5f4b5f;
}

.card img {
    width: 200px;
    height: auto;
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .form {
        margin: 150px 200px 50px 200px;
        padding: 10px 30px;
        width: 80%;
    }

    .form input,
    textarea {
        width: 80%;
        height: 30px;
    }

    #chat {
        width: 100%;
    }

    .main-title {
        font-family: "Ihana Perkele Alaston", sans-serif;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: #dcccde;
    }

    .remove {
        display: none;
    }

    .container2 {
        flex-direction: column;
    }

    #reference {
        width: 90%;
        margin: 5rem 0;
        padding: 0 10px;
        background-color: #403042;
        border: #dcccde solid 3px;
        border-radius: 22px;
    }

    .card {
        width: 80%;
    }
}